# {{ .Header.Title }}
{{ .Header.Content }}

## Requirements
{{ .Requirements.Content }}

## Providers
{{ .Providers.Content }}

## Inputs
{{ .Inputs.Content }}

## Outputs
{{ .Outputs.Content }}

## Modules
{{ .Modules.Content }}

## Resources
{{ .Resources.Content }}

## Footer
{{ .Footer.Content }}
